@charset "utf-8";
body {
    background-color: #EEFF84;
}

.image-vw {
	width : 40vw ; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2538;
    color: #DD2225;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 80px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}

div h1 strong {
    color: #FF0000;
	
}